
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Travelpayouts Detailed Dashboard</title>
  </head>
  <body>

    <div align=center>
      <p align=center><h2>1</h2></p>
      <canvas id="Bar_SearchesAndProfit" width="1300" height="600"></canvas>
    </div>

    <div align=center>
      <p align=center><h2>2</h2></p>
      <canvas id="Bar_ClicksAndPaidbooking" width="1300" height="600"></canvas>
    </div>

    <div align=center>
      <p align=center><h2>3</h2></p>
      <canvas id="Line_Affiliates" width="1300" height="600"></canvas>
    </div>



    <script type="text/javascript" src="Chart.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.min.js"></script>
    <script type="text/javascript" src="http://cdn3.devexpress.com/jslib/13.2.6/js/dx.chartjs.js"></script>
    <script src="javascripts/application.js"></script>
      <script type="text/javascript">
        refreshInreval = 1000*60*10
        //setInterval(refreshPage, refreshInreval);
        $().ready(function(){
          drawGraphs();
        });
        function refreshPage(){
          location.reload();
        }
        function drawGraphs(){
          DrawBar_StatisticsSearchesAndProfit(<%= @data_detailed_statistics %>, <%= @data_detailed_profit %>, $("#Bar_SearchesAndProfit"))
          DrawBar_StatisticsClicksAndPaidbooking(<%= @data_detailed_statistics %>, $("#Bar_ClicksAndPaidbooking"));
          DrawLine_NewAffiliateDay(<%= @data_affamount %>, $("#Line_Affiliates"))
        };
      </script>
  </body>
</html>
