<!doctype html>
<html lang="en">
  <head>
<style>
#leads {
    width: 10px;
    height: 10px;
    background: rgba(249,0,5,1);
    display:inline-block;
}
#searches {
    width: 10px;
    height: 10px;
    background: rgba(64,64,64,1);
    display:inline-block;
}
#inits {
    width: 10px;
    height: 10px;
    background: rgba(22,216,146,1);
    display:inline-block;
}
#shows {
    width: 10px;
    height: 10px;
    background: rgba(229,148,0,1);
    display:inline-block;
}
  .scalable {
    float: left;
  }
  .one-half {
    width: 50%;
  }
  .one-third{
    width: 33.33%;
  }
</style>
    <meta charset="utf-8">
    <title>Travelpayouts Dashboard</title>

    <script type="text/javascript" src="../Chart.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.min.js"></script>
    <script type="text/javascript" src="http://cdn3.devexpress.com/jslib/13.2.6/js/dx.chartjs.js"></script>
    <script src="../javascripts/application.js"></script>
  </head>
  <body>
<%= yield %>
    <script type="text/javascript">
        $(window).on('resize', function() {
          var window_height = $(this).outerHeight() - 50,
              window_width = $(this).outerWidth() - 50,
              scale_height = window_height / ( <%= @canvas_height + 30 %> * 3 ),
              scale_width = window_width / ( <%= @canvas_width + 5 %> * 3 ),
              scale = scale_width + ', ' + scale_height;


          $('.scalable').css('height', window_height / 3).
            css('-webkit-transform', 'scale(' + scale + ')').
            css('-ms-transform', 'scale(' + scale + ')').
            css('transform', 'scale(' + scale + ')');
          first_position = $('.scalable:first-child').position();
          $('body').css('position','relative').
            css('overflow', 'hidden').
            css('top', -first_position.top + 5).
            css('left', -first_position.left + 5);
        }).trigger('resize');

        refreshInreval = 1000*60*5;
        setInterval(refreshPage, refreshInreval);
        $().ready(function(){
          drawGraphs();
        });
        function refreshPage(){
          location.reload();
        }
    </script>
  </body>
</html>
