<!doctype html>
<html lang="en">
  <head>
<style>
#leads {
    width: 10px;
    height: 10px;
    background: rgba(249,0,5,1);
    display:inline-block;
}
#searches {
    width: 10px;
    height: 10px;
    background: rgba(64,64,64,1);
    display:inline-block;
}
#inits {
    width: 10px;
    height: 10px;
    background: rgba(22,216,146,1);
    display:inline-block;
}
#shows {
    width: 10px;
    height: 10px;
    background: rgba(229,148,0,1);
    display:inline-block;
}
</style>
    <meta charset="utf-8">
    <title>Travelpayouts Dashboard</title>

    <script type="text/javascript" src="../Chart.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.min.js"></script>
    <script type="text/javascript" src="http://cdn3.devexpress.com/jslib/13.2.6/js/dx.chartjs.js"></script>
    <script src="../javascripts/application.js"></script>
  </head>
  <body>
<%= yield %>
  </body>
</html>
